<template>

    <div>

        <b-modal id="update-payment-card-modal" title="Update Payment Card">

            <div class="alert alert-info mb-3"><i class="fa fa-file-invoice-dollar fa-3x mr-3 float-left"></i>We will charge the new card for all future invoices starting on your next renewal date.</div>

            <card class='stripe-card my-3'
              :class='{ complete }'
              :stripe='stripe_api_publish_key'
              :options='stripeOptions'
              @change='complete = $event.complete'
            />

            <template slot="modal-footer">
                <button class='btn btn-success pay-with-stripe' @click='updateCard' :disabled='!complete'>Update Card</button>
            </template>

        </b-modal>

    </div>

</template>


<script>

import { Card, createToken } from 'vue-stripe-elements-plus'

export default {
  data () {
    return {
      complete: false,
      stripeOptions: {
        // see https://stripe.com/docs/stripe.js#element-options for details
      }
    }
  },

  components: { Card },

  methods: {
    updateCard () {
      // createToken returns a Promise which resolves in a result object with
      // either a token or an error key.
      // See https://stripe.com/docs/api#tokens for the token object.
      // See https://stripe.com/docs/api#errors for the error object.
      // More general https://stripe.com/docs/stripe.js#stripe-create-token.
      createToken().then(data => console.log(data.token))
    }
  },
  props: ['chargebee_customer_id', 'stripe_api_publish_key']
}

</script>

<style>
.stripe-card {
  /*width: 300px;
  border: 1px solid grey;
  */
 padding: 10px;
 margin: 10px 0px;
 border: 1px #ddd solid;
}
.stripe-card.complete {
    /*
  border-color: green;
  */
}
</style>
