<template>

    <div>

        <div class="row">

            <!-- Pricing Tables -->
                    <div class="col-md-6 col-xl-3">
                        <!-- Imagination Plan -->
                        <div class="block block-rounded block-bordered block-themed text-center">
                            <div class="block-header bg-primary-light">
                                <h3 class="block-title">
                                    <i class="icon-Idea-3" style="font-size: 3em;"></i><br />
                                    <span class="font-w700">Imagination</span><br />
                                    <small>Free Feature Preview</small>
                                </h3>
                            </div>
                            <div class="block-content bg-white">
                                <div class="py-2">
                                    <p class="h1 font-w700 mb-2">FREE</p>
                                    <p class="h6 text-muted">hands-on feature preview</p>
                                </div>
                            </div>
                            <div class="block-content" style="min-height: 270px;">
                                <div class="py-1">
                                    <p>
                                        You have access to all of the features with demo data to explore the platform and decide if it's right for your needs.<br />
                                        <br />
                                        You will not be able to power up virtual machines until you upgrade to a paid plan.<br />
                                    </p>
                                </div>
                            </div>
                            <div class="block-content block-content-full bg-white">
                                <span class="btn btn-hero-secondary disabled px-4">
                                    <i class="fa fa-check mr-1"></i> Active Plan
                                </span>
                            </div>
                        </div>
                        <!-- END Imagination Plan -->
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <!-- Werewolf Plan -->
                        <div class="block block-rounded block-bordered block-themed text-center">
                            <div class="block-header bg-primary">
                                <h3 class="block-title">
                                    <i class="icon-Fog-Night" style="font-size: 3em;"></i><br />
                                    <span class="font-w700">Werewolf</span><br />
                                    <small>~3 Lab Days per Month</small>
                                </h3>
                            </div>
                            <div class="block-content bg-white">
                                <div class="py-2">
                                    <p class="h1 font-w700 mb-2">$10</p>
                                    <p class="h6 text-muted">per month</p>
                                </div>
                            </div>
                            <div class="block-content" style="min-height: 270px;">
                                <div class="py-1">
                                    <p>
                                        <strong>30</strong> Hours Usage
                                    </p>
                                    <p>
                                        <strong>3</strong> Image Templates
                                    </p>
                                    <p>
                                        Community Forum Support
                                    </p>
                                </div>
                            </div>
                            <div class="block-content block-content-full bg-white">
                                <span class="btn btn-hero-success px-4">
                                    <i class="fa fa-arrow-up mr-1"></i> Upgrade
                                </span>
                            </div>
                        </div>
                        <!-- END Werewolf Plan -->
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <!-- Wizard Plan -->
                        <div class="block block-rounded block-bordered block-themed text-center">
                            <div class="block-header bg-primary-dark">
                                <h3 class="block-title">
                                    <i class="icon-Witch-Hat" style="font-size: 3em;"></i><br />
                                    <span class="font-w700">Wizard</span><br />
                                    <small>~15 Lab Days per Month</small>
                                </h3>
                            </div>
                            <div class="block-content bg-white">
                                <div class="py-2">
                                    <p class="h1 font-w700 mb-2">$50</p>
                                    <p class="h6 text-muted">per month</p>
                                </div>
                            </div>
                            <div class="block-content" style="min-height: 270px;">
                                <div class="py-1">
                                    <p>
                                        <strong>150</strong> Hours Usage
                                    </p>
                                    <p>
                                        <strong>15</strong> Image Templates
                                    </p>
                                    <p>
                                        Access to Community Forums
                                    </p>
                                    <p>
                                        Email Support
                                    </p>
                                </div>
                            </div>
                            <div class="block-content block-content-full bg-white">
                                <span class="btn btn-hero-success px-4">
                                    <i class="fa fa-arrow-up mr-1"></i> Upgrade
                                </span>
                            </div>
                        </div>
                        <!-- END Wizard Plan -->
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <!-- Sorcerer Plan -->
                        <div class="block block-rounded block-bordered block-themed text-center">
                            <div class="block-header bg-primary-darker">
                                <h3 class="block-title">
                                    <i class="icon-Wizard" style="font-size: 3em;"></i><br />
                                    <span class="font-w700">Sorcerer</span><br />
                                    <small>Lab'ing Full Time</small>
                                </h3>
                            </div>
                            <div class="block-content bg-white">
                                <div class="py-2">
                                    <p class="h1 font-w700 mb-2">$100</p>
                                    <p class="h6 text-muted">per month</p>
                                </div>
                            </div>
                            <div class="block-content" style="min-height: 270px;">
                                <div class="py-1">
                                    <p>
                                        <strong>300</strong> Hours Usage
                                    </p>
                                    <p>
                                        <strong>50</strong> Image Templates
                                    </p>
                                    <p>
                                        Access to Community Forums
                                    </p>
                                    <p>
                                        Priority Email Support
                                    </p>
                                    <p>
                                        Feature Roadmap Voting
                                    </p>
                                </div>
                            </div>
                            <div class="block-content block-content-full bg-white">
                                <span class="btn btn-hero-success px-4">
                                    <i class="fa fa-arrow-up mr-1"></i> Upgrade
                                </span>
                            </div>
                        </div>
                        <!-- END Sorcerer Plan -->
                    </div>
            <!-- END Pricing Tables -->

            <b-col sm="3">



            </b-col>

        </div>

        <h2 class="content-heading">
            My Subscription
        </h2>

        <div class="row">

            <b-col sm="4">
                <div class="block block-bordered">
                    <div class="block-content text-center" style="min-height: 220px;">

                        <h1 class="h1 text-success mt-2">${{ chargebee.active_subscription.plan.price }} <span class="small">per {{ chargebee.active_subscription.plan.period_unit }}</span></h1>

                        <h4 class="">{{ chargebee.active_subscription.plan.name }}</h4>
                        <p>
                            Renews on {{ chargebee.active_subscription.next_billing_at | moment("MMM D, YYYY") }}<br />
                            Subscription ID {{ chargebee.active_subscription.id }}<br />
                        </p>

                    </div>
                </div>
            </b-col>

            <b-col sm="4">
                <div class="block block-bordered">
                    <div class="block-content text-center" style="min-height: 220px;">


                        <template v-if="chargebee.card_status == 'no_card'">
                            <!--
                            <div class="block block-bordered">
                                <div class="block-content">
                                    <h5>No Card On File</h5>

                                </div>
                            </div>
                            -->
                            <div style="min-height: 140px;">
                                <i class="fab fa-cc-visa fa-4x my-1"></i>

                                <h5 class="h5 my-0">
                                    <span class="text-secondary">Ending in </span>1234<br />
                                    <small class="text-gray-dark">Expires 08/22</small>
                                </h5>
                            </div>

                                    <!--
                                    <i class="fab fa-cc-mastercard fa-2x"></i>
                                    <i class="fab fa-cc-amex"></i>
                                    <i class="fab fa-cc-discover"></i>
                                    <i class="fab fa-cc-paypal"></i>
                                    <i class="fab fa-cc-apple-pay"></i>
                                -->

                            <b-button class="my-0" variant="outline-info" v-b-modal.update-payment-card-modal>Update Payment Card</b-button>

                        </template>

                        <template v-else>

                        </template>

                    </div>
                </div>
            </b-col>


            <b-col sm="4">
                <div class="block block-bordered">
                    <div class="block-content text-center" style="min-height: 220px;">
                        <template v-if="chargebee.billing_address">
                            <div style="min-height: 140px;">
                                <p class="my-0">
                                    <span v-if="chargebee.first_name"><strong>{{ chargebee.first_name }}</strong></span>
                                    <span v-if="chargebee.last_name"><strong> {{ chargebee.last_name }}</strong><br /></span>
                                    <span v-else><br /></span>
                                    <span v-if="chargebee.company"><strong>{{ chargebee.company }}</strong><br /></span>
                                    <span v-if="chargebee.billing_address.line1">{{ chargebee.billing_address.line1 }}<br /></span>
                                    <span v-if="chargebee.billing_address.line2">{{ chargebee.billing_address.line2 }}<br /></span>
                                    <span v-if="chargebee.billing_address.city">{{ chargebee.billing_address.city }}</span>
                                    <span v-if="chargebee.billing_address.state_code">, {{ chargebee.billing_address.state_code }}</span>
                                    <span v-else-if="chargebee.billing_address.state">, {{ chargebee.billing_address.state }}</span>
                                    <span v-if="chargebee.billing_address.zip"> {{ chargebee.billing_address.zip }}<br /></span>
                                    <span v-else><br /></span>
                                </p>
                            </div>
                            <b-button class="my-0" variant="outline-info">Update Billing Address</b-button>
                        </template>
                        <template v-else>

                        </template>
                    </div>
                </div>
            </b-col>

            <b-col sm="12">

                <div class="block block-bordered">
                    <div class="block-header">
                        <h3 class="block-title">Invoice History</h3>
                    </div>
                    <div class="block-content">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Billing Date</th>
                                    <th>Invoice ID</th>
                                    <th>Plan</th>
                                    <th>Term</th>
                                    <th class="text-right">Amount</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-for="invoice in invoices">
                                    <tr>
                                        <td>{{ invoice.date | moment("MMM D, YYYY") }}</td>
                                        <td>{{ invoice.id }}</td>
                                        <template v-for="line_item in invoice.line_items">
                                            <template v-if="line_item.entity_type == 'plan'">
                                                <td>{{ line_item.description }}</td>
                                                <td>{{ line_item.date_from | moment("MMM D, YYYY") }} to {{ line_item.date_to | moment("MMM D, YYYY")}}</td>
                                            </template>
                                        </template>
                                        <td class="text-right">{{ (invoice.total/100).toLocaleString("en-US", {style: "currency", currency: invoice.currency_code}) }}</td>
                                        <td class="text-right"><b-button size="sm" variant="outline-primary" :href="base_uri + '/invoices/' + invoice.id + '/download'" target="_blank"><i class="fa fa-download mr-2"></i>Download PDF</b-button></td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>

            </b-col>

        </div>

    </div>

</template>


<script>
export default {
    data() {
        return {
            record: undefined,
            chargebee: undefined,
            invoices: undefined,
        }
    },
    mounted() {
        axios
        .get('http://labs-api.valet/v1/admin/tenant/accounts/' + this.id)
        .then((response) => {
            this.record = response.data.data;
        });
        axios
        .get('http://labs-api.valet/v1/admin/chargebee/customers/' + this.chargebee_customer_id)
        .then((response) => {
            this.chargebee = response.data;
        });
        axios
        .get('http://labs-api.valet/v1/admin/chargebee/customers/' + this.chargebee_customer_id + '/invoices')
        .then((response) => {
            this.invoices = response.data;
        });
    },
    props: ['id','chargebee_customer_id', 'base_uri']
}
</script>
