<template>
    <b-container fluid>
        <!-- User Interface controls -->
        <b-row>
            <b-col md="6" offset-md="6" class="mb-4">
                <b-form-group label-cols-sm="3" class="mb-0">
                    <b-input-group>
                        <b-form-input v-model="filter" placeholder="Type to Search"></b-form-input>
                        <b-input-group-append>
                            <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-form-group>
            </b-col>

        </b-row>

        <!-- Main table element -->
        <b-table
        show-empty
        stacked="md"
        :items="items"
        :fields="fields"
        :current-page="currentPage"
        :per-page="perPage"
        :filter="filter"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        :sort-direction="sortDirection"
        @filtered="onFiltered"
        >

            <template slot="actions" slot-scope="data">
                <b-button size="sm" variant="outline-primary" :href="baseUri + '/' + data.item.id"><i class="si si-magnifier" /></b-button>
            </template>

            <template slot="instance_type" slot-scope="data">
                {{ data.item.relationships.cloud_image_flavor.data.name }}<br />
                <span class="small">{{ data.item.relationships.cloud_image_size.data.name }}</span><br />
                <span class="small">{{ data.item.relationships.cloud_region.data.slug }}</span>
            </template>

            <template slot="image_template" slot-scope="data">
                <strong>{{ data.item.name }}</strong><span class="badge text-primary-darker bg-primary-lighter ml-2">{{ data.item.slug }}</span><span class="badge ml-2 badge-secondary">{{ data.item.short_id }}</span><br />
                <span class="small">{{ data.item.description }}</span><br />
            </template>

            <template slot="analytics" slot-scope="data">
                <div class="row gutters-tiny">
                    <div class="col-4">
                        <a class="block block-bordered text-center" href="javascript:void(0)">
                            <div class="block-content block-content-full aspect-ratio-16-9 d-flex py-3 justify-content-center align-items-center">
                                <div>
                                    <div class="font-size-h3 font-w300 text-black">#</div>
                                    <div class="font-w600 mt-1 text-muted small">Reservations</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a class="block block-bordered text-center" href="javascript:void(0)">
                            <div class="block-content block-content-full aspect-ratio-16-9 d-flex py-3 justify-content-center align-items-center">
                                <div>
                                    <div class="font-size-h3 font-w300 text-black">#</div>
                                    <div class="font-w600 mt-1 text-muted small">Days Ago</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a class="block block-bordered text-center" href="javascript:void(0)">
                            <div class="block-content block-content-full aspect-ratio-16-9 d-flex py-3 justify-content-center align-items-center">
                                <div>
                                    <div class="font-size-h3 font-w300 text-black">$##.##</div>
                                    <div class="font-w600 mt-1 text-muted small">This Month</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </template>

        </b-table>

        <b-row>
            <div class="my-4 mx-auto">
                <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                class="my-0"
                ></b-pagination>
            </div>
        </b-row>

        <!-- Info modal -->
        <b-modal :id="infoModal.id" :title="infoModal.title" ok-only @hide="resetInfoModal">
            <pre>{{ infoModal.content }}</pre>
        </b-modal>

    </b-container>
</template>

<script>
export default {
    data() {
        return {
            fields: [
                {
                    key: 'actions',
                    label: '',
                    sortable: false,
                },
                {
                    key: 'instance_type',
                    label: 'Instance Type',
                    sortable: true,
                    class: 'w-25',
                },
                {
                    key: 'image_template',
                    label: 'Image Template',
                    sortable: false,
                    class: 'w-50',
                },
                {
                    key: 'analytics',
                    label: '',
                    sortable: false,
                    class: 'w-25',
                }
            ],
            items: undefined,
            baseUri: '/admin/cloud/image/templates',
            totalRows: 1,
            currentPage: 1,
            perPage: 10,
            sortBy: null,
            sortDesc: false,
            sortDirection: 'asc',
            filter: null,
            infoModal: {
                id: 'info-modal',
                title: '',
                content: ''
            }
        }
    },
    computed: {
        sortOptions() {
            // Create an options list from our fields
            return this.fields
            .filter(f => f.sortable)
            .map(f => {
                return { text: f.label, value: f.key }
            })
        }
    },
    mounted() {
        axios
        .get('http://labs-api.valet/v1/admin/cloud/image/templates')
        .then((response) => {
            this.items = response.data.data;
            this.totalRows = this.items.length;
        });

    },
    methods: {
        info(item, index, button) {
            this.infoModal.title = `Row index: ${index}`
            this.infoModal.content = JSON.stringify(item, null, 2)
            this.$root.$emit('bv::show::modal', this.infoModal.id, button)
        },
        resetInfoModal() {
            this.infoModal.title = ''
            this.infoModal.content = ''
        },
        onFiltered(filteredItems) {
            // Trigger pagination to update the number of buttons/pages due to filtering
            this.totalRows = filteredItems.length
            this.currentPage = 1
        }
    }
}
</script>
