<template>
    <b-container fluid>
        <!-- User Interface controls -->
        <b-row>
            <b-col md="6" offset-md="6" class="mb-4">
                <b-form-group label-cols-sm="3" class="mb-0">
                    <b-input-group>
                        <b-form-input v-model="filter" placeholder="Type to Search"></b-form-input>
                        <b-input-group-append>
                            <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-form-group>
            </b-col>

        </b-row>

        <!-- Main table element -->
        <b-table
        show-empty
        stacked="md"
        :items="items"
        :fields="fields"
        :current-page="currentPage"
        :per-page="perPage"
        :filter="filter"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        :sort-direction="sortDirection"
        @filtered="onFiltered"
        >

            <template slot="actions" slot-scope="data">
                <b-button size="sm" variant="outline-primary" :href="baseUri + '/' + data.item.id"><i class="si si-magnifier" /></b-button>
            </template>

            <template slot="email" slot-scope="data">
                <span v-if="data.item.flags.flag_account_verified == 1">
                    <i class="fa-xs si si-check text-success mr-1" />
                </span>
                <span v-else>
                    <i class="fa-xs si si-close text-warning mr-1" />
                </span>
                {{ data.item.email }}
                <span v-if="data.item.flags.flag_account_expired == 1" class="badge badge-dark ml-1">
                    Expired
                </span>
                <span v-if="data.item.flags.flag_account_locked == 1" class="badge badge-danger ml-1">
                    Locked
                </span>
            </template>

        </b-table>

        <b-row>
            <div class="my-4 mx-auto">
                <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                class="my-0"
                ></b-pagination>
            </div>
        </b-row>

        <!-- Info modal -->
        <b-modal :id="infoModal.id" :title="infoModal.title" ok-only @hide="resetInfoModal">
            <pre>{{ infoModal.content }}</pre>
        </b-modal>

    </b-container>
</template>

<script>
export default {
    data() {
        return {
            fields: [
                {
                    key: 'actions',
                    label: '',
                    sortable: false
                },
                {
                    key: 'short_id',
                    label: 'ID',
                    sortable: false,
                },
                {
                    key: 'first_name',
                    sortable: true,
                },
                {
                    key: 'last_name',
                    sortable: true,
                },
                {
                    key: 'organization_name',
                    sortable: true,
                },
                {
                    key: 'email',
                    sortable: true,
                }
            ],
            items: undefined,
            baseUri: '/admin/auth/user/accounts',
            totalRows: 1,
            currentPage: 1,
            perPage: 10,
            sortBy: null,
            sortDesc: false,
            sortDirection: 'asc',
            filter: null,
            infoModal: {
                id: 'info-modal',
                title: '',
                content: ''
            }
        }
    },
    computed: {
        sortOptions() {
            // Create an options list from our fields
            return this.fields
            .filter(f => f.sortable)
            .map(f => {
                return { text: f.label, value: f.key }
            })
        }
    },
    mounted() {
        axios
        .get('http://labs-api.valet/v1/admin/auth/user/accounts')
        .then((response) => {
            this.items = response.data.data;
            this.totalRows = this.items.length;
        });

    },
    methods: {
        info(item, index, button) {
            this.infoModal.title = `Row index: ${index}`
            this.infoModal.content = JSON.stringify(item, null, 2)
            this.$root.$emit('bv::show::modal', this.infoModal.id, button)
        },
        resetInfoModal() {
            this.infoModal.title = ''
            this.infoModal.content = ''
        },
        onFiltered(filteredItems) {
            // Trigger pagination to update the number of buttons/pages due to filtering
            this.totalRows = filteredItems.length
            this.currentPage = 1
        }
    }
}
</script>
